<div class="content-container">
    <div class="col-1">
            <div class="">
                <img src="assets/images/homepageimages/mobiles/image2.webp" alt="" class="small-img">
            </div>
            <div>
                <img src="assets/images/homepageimages/mobiles/image3.webp" alt="" class="small-img">
            </div>
            <div>
                <img src="assets/images/homepageimages/mobiles/image4.webp" alt="" class="small-img">
            </div>
    </div>
    <div class="col-2" >
        <img src="assets/images/homepageimages/mobiles/image1.webp" alt="" id="productimg">
        <div>
            <button class=" mt-4 mb-5" style="background-color:#ff9f00;" type="submit">
                <i class="fa fa-shopping-cart"></i>ADD TO CART</button>
            <button class=" mt-4 mb-5" style="background-color:#FB641B;" type="submit">
                <i class="fa fa-bag-shopping"></i>BUY NOW</button>
        </div>
    </div>
    <div class="col-3">
        <img src="assets/images/homepageimages/mobiles/image1.webp" alt="">
    </div>
</div>
