

<!-- <button class="btn mt-4 mb-5 pull-right" style="background-color:#e3832e;margin-right: 20px;" type="submit" (click)="tologout()">Logout</button>

<div class="d-flex justify-content-center align-items-center ">
    <h3 style="color:rgb(123, 0, 255)"> Hello {{name}}</h3>
</div> -->





<mat-sidenav-container autosize>
    <mat-sidenav [opened]="false" mode="over" #sidenav>
     
     <mat-nav-list>
        <span class="entry">
            <mat-icon>supervisor_account</mat-icon>
            <span>Hello {{name}}</span>
        </span>
     </mat-nav-list>

      <mat-nav-list *ngFor="let route of menuList">
        <a mat-list-item routerLink={{route.link}}>
          <span class="entry">
            <mat-icon>{{route.icon}}</mat-icon>
            <span>{{route.name}}</span>
          </span>
        </a>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar class="toolbar">
            <div>
                <button mat-icon-button aria-label="Menu icon" (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
              <span>Shop Now</span>
            </div>
            <div>
                <span>Hello {{name}}</span>
            </div>
        </mat-toolbar>

        <div class="content-container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>


<!-- <mat-sidenav-container>
    <mat-sidenav>Start</mat-sidenav>
    <mat-sidenav-content>Main</mat-sidenav-content>
  </mat-sidenav-container> -->
