html { 
    height: 100%; 
}
/* body {
    min-height: 100vh;
    background-color: #FDF2E9;
    display: flex;
    flex-direction: column;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: url(assets/images/background.jpg);
} */

body {
    display: block;
    height: 100%;
    width:100%;
    margin:0px;
    -webkit-font-smoothing:antialiased;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: url(assets/images/background4.jpg) center/ cover no-repeat;
}
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
